<div class="container">
<h1> Stupid Coaching </h1>

<div class="answer"> <%= @ask %>
<div><i>-You</i></div>
</div>

<div class="answer" id="answer_coach">
<strong><%= @answer %></strong>
<div><i>-Coach</i></div>
</div>


<%= link_to "Ask a new question", ask_path %>
</div>
